html{
    background-color: #068FD3;
}

body{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #EBF5FB;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #273746;
    border-radius: 5px;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #1C2833;
    text-shadow: 3px 3px 1px #808B96;

    margin: 0;
}

p,li{
    font-size: 16p;
    line-height: 2;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: #6382c4;
   
}

a:hover{
    color: #154360;
    text-decoration: underline;
}

img{
   display: block;
   margin: 0 auto;

}

